@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { font-family: "Inter", system-ui, sans-serif; -webkit-font-smoothing: antialiased; }
  * { box-sizing: border-box; }
  ::-webkit-scrollbar { width: 5px; height: 5px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #B7E4C7; border-radius: 99px; }
}
